body{
	background: lavender;
}
h1{
	color: black;
	font-family: Comic Sans MS;
	font-size: 100px;
}
h2{
	color: black;
	font-family: sans-serif;
	margin-left: 4%;
	margin-right: 69%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-radius: 5px;
	background: rgba(0, 0, 1, 0.2);
}
.hr1{
	height: 3px;
	color: lavender;
	background: white;
	border: 0.1px solid white;
	border-radius: 2px;
	margin-left: 5%;
	margin-right: 54%;
	margin-top: -5%;
	margin-bottom: 10%;
}
.hr2{
	height: 3px;
	color: lavender;
	background: white;
	border: 0.1px solid white;
	border-radius: 2px;
	margin-right: 7%;
	margin-left: 74%;
	margin-top: -5%;
	margin-bottom: 10%;
}
.p1{
	margin-top: -10.5%;
	margin-left: 20%;
	font-size: 8px;
	font-family:  Comic Sans MS;
}
.p2{
	width: 650px;
}
.p3{
	font-family: cursive;
	width: 500px;
	background: rgba(0, 0, 0, 0.3);
}
.main{
	margin-top: 10%;
	margin-bottom: 20%;
	background: lavenderblush;
}
.div2{
	padding-top: 20px;
	height: 50px;
	background: lavender;
	border: 2px lavender;
	border-radius: 10px;
	margin-left: 5%;
	margin-right: 54%;
	margin-bottom: 7%;
}
.div3{
	padding-top: 5px;
	height: 20px;
	margin-left: 75%;
	margin-right: 5%;
	margin-top: -10%;
	margin-bottom: 7%;
}
.div4{
	border: 3px solid white;
	background: whitesmoke;
	border-radius: 2px;
	margin-right: 4%;
	margin-left: 4%;
	margin-bottom: 10%;
	margin-top: 7%;
}
.div5{
	background: skyblue;
	border: 2px solid white;
	margin-top: -19%;
	height: 300px;
}
.semidiv1{
	font-family: cursive;
	margin: 3%;
	margin-right: 4%;
}
.img1{
	background: lavender;
	height: 150px;
	width: 150px;
	margin-left: 85%;
	margin-top: -8%;
	margin-bottom: -1%;
}
.img1:hover{
	transform: scale();
}
.btn1{
	color: yellow;
	background: skyblue;
	font-size: 20px;
	font-family: Comic Sans MS;
	padding-left: 20px;
	padding-right: 50px;
	border-radius: 5px;
	cursor: pointer;
}
.btn2{
	color: black;
	font-size: 20px;
	font-family: Comic Sans MS;
	padding-left: 20px;
	padding-right: 50px;
	border-radius: 5px;
	cursor: pointer;
}
.btn3{
	color: black;
	font-size: 20px;
	font-family: Comic Sans MS;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
	cursor: pointer;
}
.btn1,.btn2,.btn3,.btn5,{
	color: black;

}
.btn1:hover,.btn2:hover,.btn3:hover,.btn5:hover{
	color: yellow;
	background: skyblue;
}
.btn4{
	font-size: 15px;
	font-family: cursive;
	height: 35px;
	background: whitesmoke;
	border: 3px solid white;
	border-radius: 5px;
	cursor: pointer;
}
.btn4{
	color: black;
	background: whitesmoke;
}
.btn4:hover{
	color: yellow;
	background: skyblue;
}
.btn5{
	color: black;
	font-size: 20px;
	font-family: Comic Sans MS;
	padding-left: 20px;
	padding-right: 20px;
	margin: 5%;
	cursor: pointer;
}
.btn6{
	color: black;
	font-size: 20px;
	font-family: Comic Sans MS;
	padding-left: 20px;
	margin-left: 5%;
	cursor: auto;
}
.btn6a{
	color: black;
	font-size: 20px;
	padding-right: 20px;
	font-family: Comic Sans MS;
	margin-top: 5%;
	margin-bottom: 5%;
	cursor: text;
}
.btt{
	font-size: 15px;
	font-family: cursive;
	height: 35px;
	background: whitesmoke;
	border: 3px solid white;
	border-radius: 5px;
	cursor: pointer;
}
.rs{
	font-size: 25px;
	margin-top: -10%;
	margin-left: 25%;
}
